/* General Sizing */

* { padding: 0; margin: 0; box-sizing: border-box; }
html { width: 100vw; height: 100vh;  min-width: 920px; min-height: 500px; background: #efefef; }
body { width: 100%; height: 100%; min-width: 920px; min-height: 500px; background: #efefef; }

/* Interactive Elements */

.entry {
  width: 55%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  margin: 0;
}

.drop-down {
  width: 55%;
  background: #2c2c30;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 1px 3px;
  color: #afafaf;
}

.check-box {
  width: 55%; 
}

.txt-entry {
  width: 55%;
  background: #2c2c30;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 1px 3px;
  color: #afafaf;
}

.entry-button {
  width: 25%;
  margin-right: 15%;
  margin-left: 5%;
}

.main-button {
  background: #43464b;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  cursor: pointer;
  color: #afafaf;
  padding: 6px;
  font-size: 10px;
  min-width: 45px;
  text-align: center;
}

.main-button:hover {
  background: #33363b;
}

/* Text Elements and Containers */

.pane {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tt-pane {
  width: 100%; height: 54px;
  position: absolute;
  top: 62px; left: 0px;
}

.pane-tt {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 16px; top: 50%;
  transform: translateY(-50%);
  color: #eeeeee;
}

.entry-pair {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-flow: row nowrap;
}

.entry-label {
  width: 35%;
  font-size: 14px;
  text-align: right;
  padding-right: 7px;
  color: #cccccc;
}

/* Pane Borders */

.lft-wall {
  border-left: 1px solid #45454da6;
}

.rgt-wall {
  border-right: 1px solid #45454da6;
}

.top-wall {
  border-top: 1px solid #45454da6;
}

.bot-wall {
  border-bottom: 1px solid #45454da6;
}

.all-wall {
  border: 1px solid #45454da6;
}

/* Common Icons */

.result-good {

}

.result-warn {

}

.result-error {

}

