#db {
	position: absolute;
	height: 100%; width: 100%;
	background: #2c2c30;
	top: 0; left: 0;
	display: grid;
	grid-template-rows: 62px auto 112px;
	grid-template-columns: 63% auto;
}

#db-widgets {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	padding-top: 18px;
	overflow-y: scroll;
}

#db-server {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 1;
	overflow: hidden;
	position: relative;
}

#db-console {
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 2;
	position: relative;
	overflow-y: scroll;
}
