#db-cse {
	box-sizing: border-box;
	position: absolute;
	right: 0; top: 0;
	height: 100%; width: 58%;
	padding-top: 62px;
	overflow-y: scroll;
}

/* CONSOLE BOX STYLES */

.cse-warning {
	width: 100%;
	background: rgba(215, 215, 125, 0.6);
	border-bottom: 0.1px solid #dcdcdc;
	padding: 18px;
}

.cse-warning p {
	margin-left: 92px;
	text-indent: -92px;
	line-height: 1.5;
}

.cse-error {
	width: 100%;
	background: rgba(215, 0, 0, 0.6);
	border-bottom: 0.1px solid #dcdcdc;
	padding: 18px;
}

.cse-error p {
	margin-left: 92px;
	text-indent: -92px;
	line-height: 1.5;
}

.cse-success {
	width: 100%;
	background: rgba(0, 215, 0, 0.6);
	border-bottom: 0.1px solid #dcdcdc;
	padding: 18px;
}

.cse-success p {
	margin-left: 92px;
	text-indent: -92px;
	line-height: 1.5;
}