
#wid-tit {
	border: none;
	font-size: 14px;
	color: #ffffff;
	border-bottom: 1px solid #45454da6;
	/*border-left: 2px solid #45454d;
	padding: 0 0 0 6px;*/
	width: 80%; height: 40px;
	margin: 6px auto;
}

/* FONT CONTROLS */

#size-up {

}

#size-dn {

}

#size-px {

}

#font-b {

}

#font-i {

}

#font-u {

}

#font-c {

}

/* MARGIN CONTROLS */

#mar-t {

}

#mar-r {

}

#mar-b {

}

#mar-l {

}

/* PADDING CONTROLS */

#pad-t {

}

#pad-r {

}

#pad-b {

}

#pad-l {

}

/* BORDER CONTROLS */

#bord-t {

}

#bord-c {

}

#bord-px {

}

#bord-r {

}

/* BACKGROUND CONTROLS */

#bg-t {

}

#bg-clr {

}

#bg-src {
	1
}

/* POSITION CONTROLS */

#pos-hl {

}

#pos-hr {

}

#pos-hc {

}

#pos-vt {

}

#pos-vb {

}

#pos-vc {

}

#z-up {

}

#z-dn {

}

/* TEXT CONTROLS */

#txt-al {

}

#txt-sp {

}

#txt-cnt {

}